<div class="header" xmlns="http://www.w3.org/1999/html">
  <div class="header__title">Chip8 Emulator</div>
  <div class="header__subtitle">
    <a href="https://github.com/Rowmance/Chip8">Source</a>
  </div>
</div>

<div>
  - Current and previous CPU state
  - Stack memory
  - Dec/Bin/Hex views
  - Instruction history (+ names?)
  - Breakpoints
  - Set to break on op codes
  - Pause/resume/step
  - Keypad on screen

  - Game selector + select file
  - Keyboard mapping (QWERTY/DVORAK)
  - Clock speed change (scale)

  - Add github link
  - Fix blog and add blog link, perhaps
</div>

