<div class="header">
  <div class="header__title">Chip8 Emulator</div>
  <div class="header__subtitle">
    <a href="https://github.com/Rowmance/Chip8">Source</a>
  </div>
</div>

<div class="screen">
  <canvas width="600" height="400" style="border: 1px solid white"></canvas>
</div>

<div class="game-select">
  Select Game (dropdown or file)
</div>

<div class="keypad">
  <div class="keypad__header">
    Keypad
  </div>
  <div class="keypad__grid">
    <div class="keypad__item">1</div>
    <div class="keypad__item">2</div>
    <div class="keypad__item">3</div>
    <div class="keypad__item">C</div>

    <div class="keypad__item">4</div>
    <div class="keypad__item">5</div>
    <div class="keypad__item">6</div>
    <div class="keypad__item">D</div>

    <div class="keypad__item">7</div>
    <div class="keypad__item">8</div>
    <div class="keypad__item">9</div>
    <div class="keypad__item">E</div>

    <div class="keypad__item">A</div>
    <div class="keypad__item">0</div>
    <div class="keypad__item">B</div>
    <div class="keypad__item">F</div>
  </div>
</div>

<div class="buttons">
  Pause, continue, step, speed
</div>

<div class="options">
  HEX, BIN, DEC
</div>

<div class="instructions">
  0x0000 CLS (clickable to pause and get state)
</div>

<div class="stack">
  V0; 0x67
</div>

<div class="registers">
  I: 0x23
</div>

<div class="breakpoints">
  (Instruction) 0x0000: Enabled
  (Memory) 0x200 (Disabled)
</div>

  <!-- - Add github link-->
  <!-- - Fix blog and add blog link, perhaps-->

