/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:600");

body {
  background-color: #222222;
  color: white;
  font-family: "Source Code Pro", monospace;

  display: grid;
  max-width: 1024px;
  margin: 0 auto;

  grid-template-areas: 'h h h h h h h h h h h h' 's s s s s s s g g g g g' 's s s s s s s k k k k k' 'b b b b b b b o o o o o' 'i i i t t t r r p p p p';
  /*
  h header
  s screen
  g game select
  k keypad
  b buttons
  i instructions
  t stack
  r registers
  p breakpoints
  o options
  */
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 12px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  grid-area: h;
}

.keypad {
  grid-area: k;
}

.game-select {
  grid-area: g;
}

.screen {
  grid-area: s;
  width: 640px;
}

.options {
  grid-area: o;
}

.buttons {
  grid-area: b;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.instructions {
  grid-area: i;
}

.instructions table {
  width: 100%;
}

.instructions td {
  padding: 2px 5px;
  text-align: center;
}

.instructions td:nth-child(2) {
  width: 260px;
}

.stack {
  grid-area: t;
}

.registers {
  grid-area: r;
}

.breakpoints {
  grid-area: p;
}

.header__title {
  font-size: 30px;
}

.header__subtitle {
  font-size: 16px;
}

.keypad__header {
  text-align: center;
  padding-bottom: 6px;
}

.keypad__grid {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px;
  justify-items: stretch;
  align-items: stretch;
}

.keypad__item {
  text-align: center;
  font-size: 16px;
  border: 1px solid white;
  line-height: 55px;
}

.button {
  padding: 8px;
  border: 1px solid white;
  margin-right: 4px;
  cursor: pointer;
}

.button--selected {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.button--disabled {
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
}

.button:hover:not(.button--disabled):not(.button--selected) {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-group {
  display: flex;
}